@charset "utf-8";
@import url("monsieurladoulaise_regular/stylesheet.css");

body {
	font-family: Verdana, Geneva, sans-serif;
	background-color: #030303;
	background-image: url(../images/bg2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.content {
	position: absolute;
	left: 125px;
	top: 307px;
	width: 890px;
	height: 643px;
	z-index: 1;
	font-style: italic;
	text-align: center;
	font-size: 24px;
	color: #FFF;
	background-color: rgba(20,47,29,0.50);
	border-radius: 30px 0px 30px 0px;
	font-family: Verdana, Geneva, sans-serif;
	padding: 5px;
}

.block {
	position: absolute;
	left: 3px;
	top: 793px;
	width: 868px;
	height: 397px;
	z-index: 1;
	font-style: italic;
	text-align: center;
	font-size: 24px;
	color: #FFF;
	background-color: rgba(20,47,29,0.50);
	border-radius: 30px 0px 30px 0px;
	font-family: Verdana, Geneva, sans-serif;
	padding: 5px;

}
	
.resume {
	position: absolute;
	left: 125px;
	top: 307px;
	width: 992px;
	height: 2500px;
	z-index: 1;
	font-style: italic;
	text-align: left;
	font-size: 24px;
	color: #FFF;
	background-color: rgba(20,47,29,0.8);
	border-radius: 30px 0px 30px 0px;
	font-family: Verdana, Geneva, sans-serif;
	padding: 5px;
	}	

#nav {
	position: absolute;
	left: 190px;
	top: 228px;
	width: 737px;
	height: 35px;
	z-index: 5;
	font-family: "Courier New", Courier, monospace;
	font-size: 18px;
	font-style: oblique;
	color: #FFF;
	text-align: center;
	border-radius: 0px 20px 0px 20px;
	background-color: rgba(60,81,43,0.50);
	float: none;
	padding-left: 11px;
	padding-right: 10px;
}
.logo {
	position: absolute;
	left: 23px;
	top: 58px;
	width: 1249px;
	height: 109px;
	z-index: 3;
	font-family: "zero hour";
	background-color: rgba(60,73,64,0.60);
	font-size: xx-large;
	color: rgba(255,255,255,1);
	border-radius: 20px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#logoImg {
	border-radius: 50px;
	position: absolute;
	left: 1003px;
	top: -1px;
	width: 229px;
	height: 213px;
	z-index: 200;
	border: 0px;
	border-radius: 30px 0px 30px 0px;
}

.img {
    border: 0px;
    border-radius: 25px;
}
@font-face {
	font-family: 'monsieurladoulaise regular';
	src: url('../monsieurladoulaise_regular/monsieurladoulaise-regular-webfont.eot');
	src: url('../monsieurladoulaise_regular/monsieurladoulaise-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../monsieurladoulaise_regular/monsieurladoulaise-regular-webfont.woff') format('woff'),
url('../monsieurladoulaise_regular/monsieurladoulaise-regular-webfont.ttf') format('truetype'),
url('../monsieurladoulaise_regular/monsieurladoulaise-regular-webfont.svg') format('svg');
}
.content p {
	font-size: 16px;
	font-weight: bold;
}
.txt {
	font-family: Verdana, Geneva, sans-serif;
}
